{% extends "base.html.twig" %}

{% block body %}

    <h1>Inscription</h1>

    {{ form_start(form) }}
    
    {{ 
        form_row(form.username, {
                    'label': 'Nom d\'utilisateur', 
                    'attr': {'placeholder': 'Nom d\'utilisateur'}
                }) 
    }}
    {{ form_row(form.email) }}
    {{ form_row(form.password) }}

    <button type="submit">Submit</button>

    {{ form_end(form) }}




{% endblock %}